beautifulsoup4
colorama
crewai
crewai-tools
datasets
ddgs
faiss-gpu-cu12
jupyterlab
langchain
langchain-community
langchain-nvidia-ai-endpoints
langgraph
matplotlib
networkx
nltk
pandas
plotly
pyvis
rank-bm25
scikit-learn
scipy
seaborn
transformers
asyncpg
sentence-transformers
trafilatura